$lg: 1170px;
$md: 920px;
$sm: 768px;
$xs: 576px;
$gutter: 30px;
$gutter-side: $gutter / 2;


@mixin media($size: $lg) {
    @media(max-width: $size) {
        @content;
    }
}

@mixin container($padding: $gutter-side) {
    max-width: $lg;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: $padding;
    padding-right: $padding;

    @include media() {
        max-width: $md;
    }

    @include media($md) {
        max-width: $sm;
    }

    @include media($sm) {
        max-width: $xs;
    }

    @include media($xs) {
        max-width: 100%;
    }
}

@mixin row ($margin: $gutter-side) {
    display: flex;
    flex-wrap: wrap;
    @if $margin != 0 {
        margin-left: -$margin;
        margin-right: -$margin;
    }
}




